{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-console": 0,
    "no-empty": 0,
    "no-param-reassign": 0,
    "no-use-before-define": 0,
    "prefer-arrow-callback": 0,
    "prefer-template": 0
  }
}
